@model MVCProj.Models.EmailFormModel

<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>
<div class="row">
    <div class="col-md-12 home-section">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 home-section-right-box">
                <div class="home-section-right-box-header">Konto osobiste<br>za prawdziwe 0zł!</div>
                <ul class="home-section-right-box-list">
                    <li class="home-section-right-box-list-item">0zł za założenie i prowadzenie konta,</li>
                    <li class="home-section-right-box-list-item">0zł za wyrobienie karty debetowej,</li>
                    <li>0zł za przelewy krajowe!</li>
                </ul>
                <div class="text-center home-section-button-align">
                    @*<a class="home-section-button" href="">zarejestruj</a>*@
                    @Html.ActionLink("zarejestruj", "Register", "Account", new { }, new { @class = "home-section-button" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="second-section">
    <div class="row second-section-header text-center">Kilka informacji o nas</div>
    <div class="row">
        <div class="col-md-3 text-center"><img src="~/Content/images/happy.png" class="second-section-image" /></div>
        <div class="col-md-9 second-section-text second-section-vertical-center">Jesteśmy najmłodszym bankiem na polskim rynku, ktorego kapitał w całości należy do polskich przedsiębiorców. skupiamy się przede wszystkim na zapewnieniu studentom dobrego startu, opieką i pomnażaniem ich funduszy. Wierzymy, że w młodych ludziach tkwi największy potencjał, o który warto zadbać od samego początku i zapewniać jego rozwój.</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row second-section-header text-center">Odwiedź nas</div>
            <div class="row">
                <div class="col-md-4 text-center"><img class="second-section-image" src="~/Content/images/pin.png" /></div>
                <div class="col-md-8 second-section-common-text text-justify second-section-vertical-center">Zachęcamy do wizyty w oddziale naszego banku zlokalizowanego w samym sercu Trójmiasta. Nasi doradcy chętnie udzielą niezbędnych informacji oraz pomogą zapoznać się z naszą aktualną ofertą.</div>
            </div>
            @*Zmienić odniesienie przycisku *@
            <div class="text-center">@Html.ActionLink("lokalizacja", "Register", "Account", new { }, new { @class = "second-section-button" })</div>
        </div>
        <div class="col-md-6">
            <div class="row second-section-header text-center">Masz pytania?</div>
            <div class="row">
                <div class="col-md-4 text-center"><img class="second-section-image" src="~/Content/images/letter.png" /></div>
                <div class="col-md-8 second-section-common-text text-justify second-section-vertical-center">Jeśli zainteresowała Ciebie nasza oferta, lecz chcesz poznać więcej szczegółów, napisz lub zadzwoń do nas! Nasz konsultant dostępny jest we wszystkie dni tygodnia od 7:00 do 20:00!</div>
            </div>
            @*Zmienić odniesienie przycisku *@
            <div class="text-center">@Html.ActionLink("kontakt", "Register", "Account", new { }, new { @class = "second-section-button" })</div>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4 text-center">
        <img src="~/Content/images/pig.png" class="second-section-image" />
        <div class="second-section-header">Lokata 3,2%</div>
        <div class="second-section-text">Oszczędzaj z naszą 3-miesięczną lokatą dla nowych klientów, dołącz do nas i sprawdź ile zyskasz.</div>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Content/images/money.png" class="second-section-image" />
        <div class="second-section-header">Kredyt</div>
        <div class="second-section-text">Już wkrótce w naszej placówce zaczniemy udzielać nisko oprocentowanych kredytów studenckich.</div>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Content/images/card.png" class="second-section-image" />
        <div class="second-section-header">Karta</div>
        <div class="second-section-text">Oferujemy darmową kartę debetową dla każdego naszego klienta.</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 third-section">
        <div class="row"><div class="third-section-header text-center">Kontakt telefoniczny i mailowy</div></div>
        <div class="row">
            <div class="col-md-offset-3 col-md-4">
                <div class="third-section-minor-header">Informacje</div>
                <div class="third-section-text third-section-text-margin">pon - nd, 7:00 - 20:00</div>
                <div class="third-section-text">801 100 100</div>
                <div class="third-section-text third-section-text-margin">+48 500 000 000</div>
                <div class="third-section-text">informacje@sbank.com</div>
            </div>
            <div class="col-md-4">
                <div class="third-section-minor-header">Reklamacje</div>
                <div class="third-section-text third-section-text-margin">pon - nd, 7:00 - 20:00</div>
                <div class="third-section-text">801 001 001</div>
                <div class="third-section-text third-section-text-margin">+48 500 001 001</div>
                <div class="third-section-text">reklamacje@sbank.com</div>
            </div>
        </div>
        <div class="row"><div class="third-section-header text-center">Formularz kontaktowy</div></div>
        <div class="row"><div class="third-section-text text-center">Skontaktuj się z nami przy pomocy formularza kontaktowego.<br />Podaj adres email na który chciałbyś uzyskać odpowiedź konsultanta.</div></div>

        <div class="row">
            <div class="form-section">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromName, new { @class = "col-md-offset-1 col-md-2 control-label third-section-text" })
                        <div class="col-md-8 form-section-input">
                            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-offset-1 col-md-2 control-label third-section-text" })
                        <div class="col-md-8 form-section-input">
                            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, new { @class = "col-md-offset-1 col-md-2 control-label third-section-text" })
                        <div class="col-md-8 form-section-input">
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-default" value="Wyślij" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 second-section">
        <div class="row second-section-header text-center">Oddział banku</div>
        <div class="row">
            <div class="second-section-text">pon - pt, 7:00 - 18:00</div>
            <div class="second-section-text">ul. Wita Stwosza 57</div>
            <div class="second-section-text">80-952 Gdańsk</div>
        </div>
    </div>
    <div class="col-md-12 second-section-location"></div>
</div>

        


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
