@using Microsoft.AspNet.Identity;
@model MVCProj.Models.TransferModel
@{
    ViewBag.Title = "Przelew krajowy";
}

<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>

<div class="row">
    <div class="section-padding col-md-12 text-center">
        <div class="section-header">Przelew środków</div>
        <div class="section-text">Aby wykonać przelew uzupełnij formularz.</div>
    </div>
</div>

<div class="row">
    <section class="form-section col-md-12 text-center">
        @using (Html.BeginForm("Transfer", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.ReceiverAccount, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ReceiverAccount, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReceiverName, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ReceiverName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReceiverAddress, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.ReceiverAddress, new { @class = "form-control" })
                </div>
            </div>
            <hr class="col-md-8 col-md-offset-2"/>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6" style="padding-top: 7px">
                @Html.DisplayFor(model => model.UserName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AccountNumber, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6" style="padding-top: 7px">
                @Html.DisplayFor(model => model.AccountNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Balance, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Balance)
                </div>
            </div>
            <hr class="col-md-8 col-md-offset-2"/>
            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Wykonaj przelew" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
</div>