@using MVCProj.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}

<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>

<div class="row">
    <div class="section-padding col-md-12 text-center">
        <div class="section-header">Logowanie</div>
        <div class="section-text">Korzystaj z bankowości online za darmo, skąd tylko zechcesz!</div>
    </div>
</div>

<div class="row">
        <section id="loginForm" class="register-form-section col-md-12 text-center">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox section-text">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Zarejestruj", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
            }
        </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}