@model MVCProj.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>

<div class="row">
    <div class="section-padding col-md-12 text-center">
        <div class="section-header">Utwórz konto</div>
        <div class="section-text">Zarejestruj się i dołącz do grona klientów Banku Studenckiego.</div>
        <div class="section-text">Aby założyć konto wypełnij wszystkie pola poniższego formularza.</div>
    </div>
</div>

<div class="row">
    <div class="register-form-section col-md-12 text-center">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-offset-2 col-md-2 control-label section-text" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 margin-top">
                        <input type="submit" class="btn btn-default" value="Zarejestruj" />
                    </div>
                </div>
        }
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
